header {
  width: 100%;
  height: 70px;
  color:antiquewhite;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  
}
h1{
  font-size: 60px;
}
h2{
  text-align: center;
  font-size: 50px;
  padding-bottom:10px;
  color:antiquewhite;
}

nav {
  font-size: 20px;
  background-color: cadetblue;
  height: 70px;

}
nav ul{
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top:25px;
}
nav li a{
  padding: 10px;
  
}

nav a:hover {
  padding-bottom: 10%;
  border-bottom: 3px solid rgb(206, 100, 100);
  color: rgb(206, 100, 100);
  font-weight: 900;
}
.none{
 list-style-type: none;
 text-decoration: none;
 color:antiquewhite;
}

#introduction {
  text-align: center;
  color:#292727;
  display: flex;
  flex-direction: row;
  justify-content:center;
  background-color: antiquewhite;
  height: 100px;
  width: 100%; 
}
#introduction img{
  width:60px;
  height: 60px;
}
.rows{
  display: flex;
  background-color: #292727;
}

.main{
  flex:60%;
  flex-direction: row;
  height: 100%;
  margin-top: 50px;
  padding:20px;
}

.aboutme {
  width: 50%;
  height: 100px;
  background-color:antiquewhite;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 0 auto;
}

.aboutme p{
  padding:20px;
}

.contactme{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50px;
  background-color: antiquewhite;
  border-radius: 10px;
  font-size: 20px;
  color:#292727;
  margin: 0 auto;
}


.space{
  margin:20px;
}

.innerBox1{
  display: flex;
  justify-content: center;  
  align-items: center;
}

.fourSmallProjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.firstProject{
  background-image: url("../images/luca-bravo-XJXWbfSo2f0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 700px;
  border-radius: 10px;
  font-weight: 800;
  margin: 0 auto;
}

.secondProject{
  width: 35%;
  height: 200px;
  font-weight: 800;
  background-image: url("../images/domenico-loia-hGV2TfOh0ns-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.thirdProject{
  width: 35%;
  height: 200px;
  background-image: url("../images/ux-indonesia-qC2n6RQU4Vw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  font-weight: 800;
}
.fourthProject{
  width: 35%;
  height: 200px;
  background-image: url("../images/nathan-da-silva-FO7kUmBYVi0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: 800;
}
.fifthProject{
  width: 35%;
  height: 200px;
  margin-top: 20px;
  background-image: url("../images/eftakher-alam-i1VQZsU86ok-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  font-weight: 800;
}
.firstProject a {
  list-style-type: none;
  text-decoration: none;
  color:antiquewhite;
  font-size: 30px;
}
.secondProject a {
  list-style-type: none;
  text-decoration: none;
  color:antiquewhite;
  font-size: 30px;
}
.thirdProject a {
  list-style-type: none;
  text-decoration: none;
  color:antiquewhite;
  font-size: 30px;
}
.fourthProject a {
  list-style-type: none;
  text-decoration: none;
  color:antiquewhite;
  font-size: 30px;
}
.fifthProject a {
  list-style-type: none;
  text-decoration: none;
  color:antiquewhite;
  font-size: 30px;
}

.firstProject a:hover{
  color: rgb(13, 201, 185);
}
.secondProject a:hover{
  color: rgb(13, 201, 185);
}
.thirdProject a:hover{
  color: rgb(13, 201, 185);

}
.fourthProject a:hover{
  color: rgb(13, 201, 185);
}
.fifthProject a:hover{
  color: rgb(13, 201, 185);
}

.comingSoon{
  font-size: 200px;
  text-align: center;
  color:rgb(206, 100, 100);
}
footer{
  background-color: antiquewhite;
  height: 100px;
  color:#292727;
}
@media screen and (max-width: 992px) {
  
  .aboutme{
    width: 80%;
    font-size: 25px;
    margin:0 auto;
    font: size 18px;
    height: 170px;
   }
   .firstProject{
    width: 80%;
   }
   .fourSmallProjects{
    flex-direction: column;
   }
   .secondProject{
    width: 80%;
    margin: 0 auto;
   }
   .thirdProject{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
   }
   .fourthProject{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
   }
   .fifthProject{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
   }
   .secondProject a{
    
    font-size: 30px;
   }
   .thirdProject a{
    font-size: 30px;
   }
   .fourthProject a{
    font-size: 30px;
   }
   .fifthProject a{
    font-size: 30px;
   }
   .contactme{
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
   
    height: 100px;
   }
   .contactme a{
    font-size: 20px;
   }

}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {

 .aboutme{
  width: 75%;
  font-size: 15px;
 }
 .contactme{
  font-size: 15px;
  width:100%;
 }
 .firstProject{
  width: 75%;
  height: 400px;
 }
 .secondProject a{
  font-size: 25px;
 }
 .thirdProject a{
  font-size: 25px;
 }
 .fourthProject a{
  font-size: 25px;
 }
 .fifthProject a{
  font-size: 25px;
 }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  h1{
    font-size: 40px;
  }
  h2{
    font-size:30px;
    padding-right: 20px;
  }
  nav ul{
    display: flex;
    justify-content: center;
  }
  .aboutme{
    width: 80%;
    font-size: 15px;
    margin:30px;
    font-size:15px;
    height: 170px;
   }
   .firstProject{
    width: 80%;
    margin:30px;
    
   }
   .firstProject a{
    font-size: 20px;

   }
   .fourSmallProjects{
    flex-direction: column;
   }
   .secondProject{
    width: 80%;
    margin:30px;
   }
   .thirdProject{
    width: 80%;
    margin:30px;
   }
   .fourthProject{
    width: 80%;
    margin:30px;
   }
   .fifthProject{
    width: 80%;
    margin:30px;
   }
   .secondProject a{
    
    font-size: 20px;
   }
   .thirdProject a{
    font-size: 20px;
   }
   .fourthProject a{
    font-size: 20px;
   }
   .fifthProject a{
    font-size: 20px;
   }
   .contactme{
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
    margin:30px;
    height: 100px;
   }
  
}